nav.navbar {
	background-color:  #FF3366
}

body.main{
	background-color: #d9b3ff;
	color: #484848;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

table {
	background-color: #339966;
}

i#background-white {
	background-color: #FFFFFF;
}

div#background-purple {
	background-color: #d9b3ff;
}
